*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1320px;

}

.HeaderTop a{
    color: white;
    text-decoration: none;
}
.HeaderTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(137, 151, 255);
    color: white;
    padding-left: 102px;
    padding-right: 102px;
}
.cust{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flag{
    width: 28px;
    height: 22px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 2px;

}

.langSelector{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    position: relative;
}

.langSelector ul{
    list-style: none;
    position: absolute;
    top: 20px;
    right: -40px;

}

.languages{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 8px;
    box-shadow: 0px 1px 10px rgb(78, 77, 77);

}

.languages a{
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

}
.languages li{
    border: .5px solid rgb(187, 185, 185);
    background-color: rgb(248, 248, 248);
    padding: 6px;
    width: 12rem;
    display: none;


}
.languages li:hover{
    background-color: white;
    font-weight: bolder;
}
.langSelector:hover{
    cursor: pointer;
    .languages li{
        display: block;
    }
}
